@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
    References:
    https://aliabdaal.com/
    https://getflywheel.com/layout/flexbox-create-modern-card-design-layout/
    https://codepen.io/gaaamii/pen/yLeEvbQ
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

/* --- Header --- */

header {
    background-color: #d1e3ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 64px;
}

hr {
    height: 1px;
    margin: 48px 0;
}

.logo {
    height: 70px;
    width: auto;
    cursor: pointer;
}

.nav-bar-items {
    list-style: none;
    display: flex;
}

.nav-bar li {
    padding: 16px;
}


.nav-bar-items li a {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

/* --- Header --- */

.content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 64px 32px;
}

#profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

#profile-picture {
    max-height: 400px;
    width: auto;
}

#bio {
    margin: 48px;
}

.social-media-container a {
    margin-right: 16px;
}

.title-1 {
    margin: 24px 0px;
    font-size: 4em;
}

.title-2 {
    margin: 24px 0;
    font-size: 2em;
}

.title-3 {
    font-size: 1.5em;
}

.bold {
    font-weight: 600;
}

.subtitle {
    font-size: 1.5em;
    line-height: 1.25;
    margin: 24px 0;
}

.description {
    font-size: 1.25em;
}

.experience-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.experience-card {
    flex: 0 1 22%;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 24px;
    background-color: #d1e3ff;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.experience-card h1, .experience-card p {
    margin: 16px;
}

#experience-picture {
    height: auto;
    width: 100%;
    border-radius: 16px;
}

.education-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.education-card {
    display: flex;
    align-items: center;
    flex: 0 1 45%;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 24px;
    padding: 16px 16px;
    background-color: #d1e3ff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.education-picture {
    height: auto;
    width: 100px;
}

.education-info {
    margin-left: 16px;
}

@media screen and (max-width: 550px) {
    .nav-bar-items {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    header {
        flex-direction: column;
    }

    #profile-container {
        flex-direction: column;
    }
    
    #bio {
        padding: 16px 0;
    }

    .experience-card {
        flex: 0 1 98%;
    }
    .education-card {
        flex: 0 1 98%;
    }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    #profile-container {
        flex-direction: column;
    }
    .experience-card {
        flex: 0 1 45%;
    }
    .education-card {
        flex: 0 1 98%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .experience-card {
        flex: 0 1 30%;
    }
}